[Unit]
Description=BusyLight
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/unicorn-busy-server
ExecStart=python3 server.py
Restart=always
Environment=FLASK_CONFIG=production

[Install]
WantedBy=multi-user.target
